<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img width="260" src="./assets/images/telus.png"></a>

    <ul class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/home">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
        routerLink="/signin">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
        routerLink="/signup">
          Sign up
        </a>
      </li>

    </ul>

  </div>
</nav>